{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-3 sidebar">
            <h2 class="admin-nav-header">Admin Nav</h2>
            <ul class="nav">
                <li class="active"><a href="{{ path('admin') }}">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ path('product_list') }}">Products</a></li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h1 class="text-center">
                Product Admin Area
            </h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Author</th>
                        <th>Is Published?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>${{ product.price|number_format(2) }}</td>
                        <td>
                            {{ product.author|default('Anonymous') }}
                        </td>
                        <td><i class="fa fa-{{ product.isPublished ? 'check' : 'times' }}"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-add-new-product').on('click', function(e) {
                e.preventDefault();

                var $modalContentHolder = $('#modal-content-holder');

                jQuery.ajax({
                    'url': $(this).attr('href'),
                    'success': function(content) {
                        $modalContentHolder.find('.modal-body').html(content);
                        $modalContentHolder.modal();
                    }
                });
            });
        });
    </script>
{% endblock %}
